
<br><br><br><br><br>
<section id = "github_info">
<h3> About This Repository:</h3>
<% if @contributors.class == String %>
      <h4>Unable to show Github Repo Details:</h4>
      <p><%= @contributors %></p>
<% else %>
  <h4>Usernames:</h4>
   <% @contributors.map do |contributor| %>
      <p><%= contributor.user_name %></p>
   <%end %>
<% end %>
</section>