<h1>Enabled Merchants</h1>
<% @merchants.each do |merchant| %>
  <% if merchant.status == "Enabled" %>
    <h3>Merchant Name: <%= merchant.name %>
    <h3>Merchant Status: <%= merchant.status %>
    <br><br>
  <% end %>
<% end %>


<h1>Disabled Merchants</h1>
<% @merchants.each do |merchant| %>
  <% if merchant.status == "Disabled" %>
    <h3>Merchant Name: <%= merchant.name %>
    <h3>Merchant Status: <%= merchant.status %>
    <br><br>
  <% end %>
<% end %>
