<h1><%= @merchant.name %>'s Invoices </h1>
<% @merchant.invoices.uniq.each do |invoice| %>
  <h3>Invoice ID: <%= link_to invoice.id, "/merchants/#{@merchant.id}/invoices/#{invoice.id}" %></h3>
<% end %>
