
<div id=update_item>
  <%= render partial: "form", locals: {path: "/merchants/#{@merchant.id}/items/#{@item.id}",
                                       method: :patch,
                                       button_text: "Update Item"} %>
</div>
